<div class="container-fluid">
    <div style="display: flex; align-items: center;gap: 793px;flex-direction: row;margin-top: 19px;justify-content: space-between; ">
      <img src="assets/LOGO-BRIGHTSPEED.PNG" style="cursor: auto;" alt="">
      <button type="button" class="btn btn-primary" 
        style=" background-color:#fcc729;border-color: #fcc729;border-radius: 22px;color: black;font:weight 10px;width: 192px;
        height: 45px;">
        <strong style=" font-size: 18px;"> 1-833-516-0096</strong>
      </button>

      
    </div>
  </div>
  <img src="assets/--.PNG" style="cursor: auto;height: 35px;width: 100%;margin-top: 16px;" alt="">
  <!-- <app-service1></app-service1> -->
  <!-- <app-speed-products></app-speed-products> -->
  <!-- <app-customer-information></app-customer-information> -->
  <!-- <app-credit-verification></app-credit-verification> -->
  <!-- <app-side-menu></app-side-menu> -->
  <app-order-summary></app-order-summary>