<div class="container-fluid"
    style="display: flex;    flex-direction: column;;align-items: center;margin-top: 20px;width: 40%;height: 10px;  margin-left: 293px;">

    <div class="content" style="border-radius: 28px;; background-color: whitesmoke; border-color: black; ">
        <div class="header" style="background-color:#fcc729;height: 70px;border-radius: 13px">
            <h1 class="title fs-5" id="staticBackdropLabel"><strong style="font-size: 40px;"> Customer
                    Information</strong></h1>

        </div>
        <div class="body" style="border-color: black;">

            <div class="col-auto">
                <!-- //paginator -->
                <h6>Contact Information </h6>
                <p>Please enter your contact information below</p>
                <span id="passwordHelpInline" class="form-text" style="color: red;">
                    *(Asterik indicates required field)
                </span>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input type="text" style="border-radius: 85px;" class="form-control" placeholder="First name"
                        aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" style="border-radius: 85px;" class="form-control" placeholder="Last name"
                        aria-label="Last name">
                </div>
            </div>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" style="border-radius: 85px;" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputCellphone" class="form-label">Cell Phone</label>
                    <input type="Cellphone" style="border-radius: 85px;" class="form-control" id="(_ #_)">
                </div>
            </form>
            <section class="example-section">
                <mat-checkbox class="example-margin">Yes, I would like to receive calls, text messages, and emails about
                    special offers,
                    other promotional communications from BrightSpeedLink, and my Brightspeed services at the numbers
                    and email addresses!
                    have provided. I consent to Brightspeed using autodialees and artificial or prerecorded voice for
                    the calls and text messages.
                    I understand providing this consent is not a condition of purchase.</mat-checkbox>
            </section>


        </div>
        <br>
        <div style="    display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        margin-right: 157px;
    ">
            <h6><strong>Service Address</strong></h6>
            <strong>1140 W MONROE ST</strong>
            <strong>WYTHEVILLE, VA 24382</strong><span id="passwordHelpInline" class="form-text"
                style="color:rgb(67, 67, 249) ;">
                Change Service Address
            </span>
        </div>
        <div style="display: flex;flex-direction: row-reverse;margin-top:25px;">
            <button type="button" style="background-color:#fcc729;border-color: #fcc729;border-radius: 22px;color: black;font:weight 10px;font-size: 15px;width: 149px;
              height: 45px;">
                <strong>NEXT</strong>
            </button>
        </div>

    </div>

    <div class="button" style="    gap: 10px;
    display: flex;
    flex-direction: column;">

        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CREDIT VERIFICATION</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CUSTOMIZE YOU PLAN</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">ORDER SUMMARY</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">TERMS&CONDITIONS </strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CONFIRMATION </strong>
            </button>
        </div>
    </div>

</div>