<div class="container-fluid"
    style="display: flex;    flex-direction: column;;align-items: c;margin-top: 20px;width: 40%;height: 10px;  margin-left: 293px;">

    <div class="content" style="border-radius: 28px;; background-color: whitesmoke; border-color: black; ">
        <div class="header" style="background-color:#fcc729;height: 70px;border-radius: 13px">
            <h1 class="title fs-5" id="staticBackdropLabel"><strong style="font-size: 40px;">Credit
                    Verification</strong></h1>

        </div>
        <div class="body" style="border-color: black;">

            <div class="col-auto">
                <!-- //paginator -->
                <h5>Customer Information for Credit Check </h5>
                <h5>Installation Type</h5>
                <p>What type of installation would the customer like.</p>
                <div style="display: flex; justify-content: center;
                
            ">
                    <mat-chip-listbox aria-label="Fish selection">
                        <mat-chip-option style="background-color:#fcc729;
                                  border-radius: 22px;color: black;font:weight 10px;width: 350px;display: flex;justify-content: center;"><strong>TECH
                            INSTALLATION</strong></mat-chip-option>
                        <mat-chip-option style="background-color:#fcc729;
                                  border-radius: 22px;color: black;font:weight 10px;width: 350px;display: flex;"><strong>SELF INSTALL</strong></mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <strong>Social Security Information</strong>
                <br>
                <span id="passwordHelpInline" class="form-text" style="color: red;">
                    *(Asterik indicates required field)
                </span>
                <section class="example-section">
                    <mat-checkbox class="example-margin"> <strong>i choose not to
                            provide Social Security information </strong></mat-checkbox>
                </section>
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                  </div>

                <!-- <div class="Birth">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                      </mat-form-field>
                      

                </div> -->

            </div>
            <br>
            <br>
            <br>
            <br>

            <section class="example-section">
                <mat-checkbox class="example-margin">In order to establish
                    this account, we need to perform a credit check.
                    For that we will need your social security number
                    or driver's license. This information will be used
                    to obtain a credit score and to verify your identity
                    and will no be released to third parties except for
                    verification or collection purposes, or unless
                    required by government authorize Brightspeed to
                    perform a credit check</mat-checkbox>
            </section>


        </div>
        <br>

        <div style="display: flex;flex-direction: row-reverse;margin-top:25px;">
            <button type="button" style="background-color:#fcc729;border-color: #fcc729;border-radius: 22px;color: black;font:weight 10px;font-size: 15px;width: 149px;
              height: 45px;">
                <strong>NEXT</strong>
            </button>
        </div>

    </div>

    <div class="button" style="    gap: 10px;
    display: flex;
    flex-direction: column;">

        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CREDIT VERIFICATION</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CUSTOMIZE YOU PLAN</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">ORDER SUMMARY</strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">TERMS&CONDITIONS </strong>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style=" display: flex;border-color:#FA783C ;
        flex-direction: row;background-color:#FA783C ;border-radius: 22px;color: black;font:weight 10px;width: 753px;
    height: 45px;">
                <strong style=" font-size: 18px;">CONFIRMATION </strong>
            </button>
        </div>
    </div>

</div>