<body>
      <div class="container-fluid" style="display: flex;justify-content: space-between;align-items: center;gap: 20px;">
        <div style="display: flex;justify-content: center;align-items: center;gap: 10px;flex-direction: column;">
            
        
<!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
 style=" margin-top: 114px;">
 SERVICE
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
 aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content" style="border-radius: 28px;">
         <div class="modal-header" style="background-color:#0d6dff;height: 51px;border-radius: 13px">
             <h1 class="modal-title fs-5" id="staticBackdropLabel">Service Address</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Please enter the address where you would lik to order service.</p>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text" style="color: red;">
                *(Asterik indicates required field)
                </span>
            </div>
            <br>
            <br>
             <form class="row g-3">
                 
                 <div class="col-12">
                   <label for="inputAddress" class="form-label">Street Address:</label>
                   <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                 </div>
                 <div class="col-12">
                   <label for="inputAddress2" class="form-label">Apt/Suite Number:</label>
                   <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                 </div>
                 <div class="col-md-6">
                   <label for="inputCity" class="form-label">City</label>
                   <input type="text" class="form-control" id="inputCity">
                 </div>
                 <div class="col-md-2">
                   <label for="inputZip" class="form-label">Zip Code</label>
                   <input type="text" class="form-control" id="inputZip">
                 </div>
                
                 <div class="col-md-4">
                   <label for="inputState" class="form-label">State</label>
                   <select id="inputState" class="form-select">
                     <option selected>Choose...</option>
                     <option>...</option>
                   </select>
                 </div>
                 
               </form>

         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                 style="background-color:#0d6dff;">FIND PLANS</button>
             
         </div>
     </div>
 </div>
</div>
</div>
</div>

</body>