<div class="container-fluid"
    style="display: flex;    flex-direction: column;;align-items: c;margin-top: 20px;width: 40%;height: 10px;  margin-left: 293px;">

    <div class="content" style="border-radius: 28px;; background-color: whitesmoke; border-color: black; ">
        <div class="header" style="background-color:#fcc729;height: 70px;border-radius: 13px">
            <h1 class="title fs-5" id="staticBackdropLabel"><strong style="font-size: 40px;">Customize Your
                    Plan</strong></h1>

        </div>
        <div class="body" style="border-color: black;">

            <div class="col-auto">
                <!-- //paginator -->
                <h5>Selected Package</h5>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-header" style="background-color: purple;">
                        Installation
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Tech Installation
                            </label>
                        </div>
                        <p>A Brightspeed technician comes to your home to install and configure your devices.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="background-color: purple;">
                        Modem
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Premium Modem Purchase
                            </label>
                        </div>
                        <p>Customer will provide a compatible modem. Cable modems are not
                            compatible with our network Brightspeed modems are technology
                            specific and an existing Brightspeed modem may not work with this
                            technology. Leasing or purchasing a new Brightspeed certified
                            modem will provide the best online experience.</p>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    I Already Have A Modem
                                </label>
                            </div>
                            <p>All in one, Dual Band WiFi Modem with 4 port Ethernet connection.
                                1 year manufacturer's warranty. Protected Internet is security
                                built into the modem to protect your network and the connected
                                devices from most online threats</p>
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Premium Modem Lease
                                </label>
                            </div>
                            <p>All in one, Dual Band WiFi Modem with 4 port Ethernet connection.
                                No cost replacement if modem becomes defective. Protected Internet
                                is security built into the modem to protect your network and the
                                connected devices from most online threats.</p>
                        </div></div>
                        <div class="card">
                            <div class="card-header" style="background-color: rgb(230, 82, 14);">
                                Add Ons
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Personal TechPro
                                    </label>
                                </div>
                                <p>Unlimited technical support for all your connected devices. Now it's easier to work
                                    from home. Learn from home. And live a simpler, smarter connected life.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Cyber Shield

                                    </label>
                                </div>
                                <p>In today's world, data breaches and identity theft seem constant, so your family's
                                    online safety is important to us. That's why we're proud to offer a powerful new
                                    first line of digital defense: Cyber Shield.

                                </p>
                            
                        </div>









                    </div>

                </div>